

.login-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #F4F8FC;
    height: 100vh;
    width:100%;

}
.welcome{
    display: block;
    align-items: center;
    margin-left: 200px;
}

.login-text{
    background-color: #ffffff;
    height: 462px;
    width:453px;
    margin-right: 200px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.04, ) , 
    0px 0px 2px rgba(0,0,0,0.6) 0px 0px 1px rgba(0,0,0,0.4);
    border-radius: 20px 20px 20px 0px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.label{
    display: flex;
    flex-direction: column; 
}
.label> input {
    width:326px;
    height:57px;
    background: #F4F8FC;
    border:none;
    border-radius:5px;
    margin-left:70px;  

}
.label>label{
    margin-right:250px;
    font-size: 14px;
    font-family:" poppins";
    color: #B2BED0;

}
.login-header{
    color: #022B69;
    font-size:30px;
    font-family:"poppins" ;
    font-weight:700 ;

}
.link1{
    display:flex;
    color: #0066F5;
    font-size: 16px;
    text-decoration: none;
    justify-content: space-evenly;
    list-style: none;


}
.welcome>h4{
    color: #022B69;
    font-family:"poppins";
    font-size: 48px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
   text-align: left;
   margin-bottom: 30px;


}
.welcome>h5{
    color: #B2BED0;

    font-family: "poppins";
    font-size: 52px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
   text-align: left;


}
.welcome>img{
    margin-right: 270px;
}
.welcome{
    margin-bottom: 300px;
}
.btn-submit{
    height: 67px;
    width: 228px;
   margin-left: 110px;
   background:#022B69;
    border-radius:10px 10px 10px 0px;
    color: #ffffff;
    font-size:24px;
    border: none;
    
}
.ui-message-success {
  color:rgb(47, 255, 144);
  background: #ffffff;
  font-size: 24px;
  height:100px;
  width:200px;
  border-radius:20px;
  margin: 10px;
  padding:25px 55px 30px 25px;
}

@media (max-width: 425px){
    .login-container{
        flex-direction: column;
        height: 100%;
    }
    .welcome{
        flex-direction: column;
        align-items: center;
        margin-left: auto;
    }
    .welcome>img{
        align-items: center;
        margin-left: 120px;
        margin-top: 50px;

    }
    .welcome>h5{
        
    }
}
