.cars{
    height: 750px;
    
}

.carousel{
    display:flex;
    background:#ffffff;
    width: 100%;
    align-items:center;
    justify-content: space-evenly;
    margin-top: 150px;
    
    
}
.tog{
    display:flex;
    width: 50%;
    margin: 60px auto;
}
.lessthan{
    color: rgba(2, 43, 105, 1);
}
.greaterthan{
    color: rgba(2, 43, 105, 1);
}
.car1{
    font-family: "Inter";
    font-size: 36px;
     font-weight: 500;
     line-height: 30px;
     letter-spacing: 0em;
     color: rgba(2, 43, 105, 1);


     
    }
    .item- img:first-of-type {
        margin: 0 auto;
        display: block;
        
}

.item img:last-of-type {
    margin: 0 auto;
    display: block;
}

.item h5 {
    text-align: center;
    font-family: var(--inter-font);
    font-weight: 500;
    font-size: 16.4423px;
    color: #3d3d46;
    padding: 12px 0;
}

.item p {
    text-align: center;
    font-family: var(--inter-font);
    font-size: 12px;
    color: #535461;
    padding: 20px 45px 20px 20px;
    width: 300px;

}
.caro-slides{
   background: url(../../asset/rectangle-blue1.png);
   background-repeat: no-repeat, no-repeat;
   width:20%;
   position: relative;
   z-index:-1;
}

.item-1 {
    width: 320.24px ;
    background-image: url(../../asset/rectangle-white2.png);
    height: 235.48px ;
    background-repeat: no-repeat, no-repeat;
    margin: 20px;
    z-index: +1;
   
    
  
}
.caro-slides1{
    background: url(../../asset/rectangle-blue3.png);
    background-repeat: no-repeat, no-repeat;
    width:20%;
    position: relative;
    z-index: -1;
    margin-left: 40px;
    
 }
.item-2 {
   width: 320.24px,;
    background-image: url(../../asset/rectangle-white2.png);
    background-repeat: no-repeat, no-repeat;
   height:235.48px;
   z-index: +1;
   background-position: center;
  
}
.caro-slides2{
    background: url(../../asset/rectangle-blue3.png);
    background-repeat: no-repeat, no-repeat;
    width:20%;
    background-position: center;
    z-index: -1;
      margin-left: -30px;  
     
 }

.item-3 {
    width: 320.24px;
    height: 235.48px;
    background-image: url(../../asset/rectangle-white2.png);
    background-repeat: no-repeat, no-repeat;
    margin-bottom: 20px; 
    z-index: +1;
    background-position: center;
    
    
}


.item-1 img:first-of-type {
    margin-top: 0px;
    width: 15%;
}

.item-1 p {
    padding: 20px 10px 20px 40px;
    width:80%
}


.item-2 p {
    padding: 20px 10px 20px 40px;
    width:80%
}

.item-3 p {
    padding: 20px 10px 20px 40px;
    width:80%
}




@media (max-width: 768px) {
   
    .caro-slides2{
        background: url(../../asset/rectangle-blue3.png);
        background-repeat: no-repeat, no-repeat;
        width:20%;
      
        background-position:  right ;
        z-index: -1;
          margin-left: -30px;  
         
     }
    
    .item-3 {
        width: 320.24px;
        height: 235.48px;
        background-image: url(../../asset/rectangle-white2.png);
        background-repeat: no-repeat, no-repeat;
     
        margin-bottom: 20px; 
        z-index: +1;
        background-position: center center;
        
        
    }
} 




@media (max-width: 425px){

   
    .caarousel{
        align-items: center;
        padding: 100px 70px 100px 70px ;
    }
       
    .car1{
        font-size: 20px;
        
    }  
   
    .caro-slides2{
        background: url(../../asset/rectangle-blue3.png);
        background-repeat: no-repeat, no-repeat;
        width:20%;
      
        background-position: center;
        z-index: -1;
          margin-left: -30px;  
         
     }
    
    .item-3 {
        width: 320.24px;
        height: 235.48px;
        background-image: url(../../asset/rectangle-white2.png);
        background-repeat: no-repeat, no-repeat;
     
        margin-bottom: 20px; 
        z-index: +1;
        background-position: center;
        
        
    }
    
}



@media (max-width: 375px) {
    .car1{
        font-size: 16px;
       
    }  
  
    .caro-slides2{
        background: url(../../asset/rectangle-blue3.png);
        background-repeat: no-repeat, no-repeat;
        width:20%;
        background-position:right  ; 
        z-index: -1;
        
         
     }
    
    .item-3 {
        width: 320.24px;
        height: 235.48px;
        background-image: url(../../asset/rectangle-white2.png);
        background-repeat: no-repeat, no-repeat;
        margin-bottom: 20px; 
        z-index: +1;
        background-position: center ;
        
        
    }
}  

